#flash-card {
    margin: 0;
    align-self: center;
    padding: 5rem 5rem 0 5rem;
    background-color: var(--bgColor);
    box-shadow: 17px 17px 10px 5px rgba(0,0,0,0.5);
    position: relative;
    border-radius: 20px;
    width: calc(var(--digitWidth) + 10rem);
    font-size: 3rem;
    font-family: var(--eqFont);

    @media (min-resolution: 150dpi) and (max-width: 450px) {
        padding: 3rem 12.5% 0 12.5%;
        width: 75%;
    }

    #equation {
        font-size: var(--varFontSize);
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        border-bottom: 3px solid var(--fontColor);
        letter-spacing: 2px;
        color: var(--fontColor);
    
        p {
            margin: 0;
            text-align: right;
        }
    }
    
    .term:first-child {
        flex-basis: 100%;
    }
    
    #operator, .term {
        flex-shrink: 1;
    }

    #answer-box {
        display: flex;
        flex-direction: column;
        position: relative;
        padding-bottom: 5rem;
        width: 100%;
        container: equation / inline-size;
    
        input {
            unicode-bidi: bidi-override;
            direction: rtl;
            font-size: var(--varFontSize);
            width: 100%;
            letter-spacing: 2px;
            padding: 0;
            appearance: none;
            border-bottom: 1px solid var(--fontColor);
            border-width: 0 0 1px 0;
            outline: 0;
            font-family: var(--eqFont);
            background-color: var(--bgColor);
            color: var(--fontColor);
            caret-color: var(--fontColor);
        }
    }
    
    #answer-button {
        margin-top: 3rem;
        padding: 1rem;
        font-size: 1.5rem;
        border-radius: 2rem;
        background-color: #004781;
        color: white;
        border: none;
        cursor: pointer;
        font-family: var(--font);
    }
}