header {
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 4rem;
        font-family: "Catboo";
        font-weight: 700;
        color: white;
        text-shadow: 7px 7px 5px rgba(0, 0, 0, 0.7);
        -webkit-text-stroke: 1px black;

        @media (min-resolution: 150dpi) {
            margin: 1rem 0;
            font-size: 3.5rem;
        }
    }
}

#nav-menu {
    position: absolute;
    display: block;
    height: calc(100% - 80px);
    left: -100%;
    top: 0;
    background-color: var(--bgColor);
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
    padding-right: 54px;
    padding-top: 80px;
    transition: left 0.3 ease;
    z-index: 1001;

    &.opened {
        left: 0;
    }

    #nav-menu-close {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        padding: 1em;
        width: 3rem;
        height: 3rem;

        img {
            width: 100%;
            @media (prefers-color-scheme: dark) {
                filter:contrast(0%);
            }
        }
    }

    ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-flow: column wrap;
        flex-basis: 100%;
        padding: 0 2em;

        li {
            text-align: left;
            padding: 10px 0;
            font-size: 2.25rem;

            a {
                color: var(--fontColor);
                text-decoration: none;
                font-weight: 400;

                &:hover {
                    border-bottom: 1px dashed;
                }
            }
        }
    }
}

#nav-menu-toggle {
    display: block;
    text-decoration: none;
    visibility: visible;
    padding: 2rem;
    outline: none;
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: 0;

    @media (min-resolution: 150dpi) {
        padding: 1rem;
        width: 2rem;
        height: 2rem;
    }

    &:hover {
        border-bottom: none;
    }

    img {
        width: 100%;
        filter: drop-shadow(3px 5px 2px rgba(0,0,0,0.5));
    }
}

#login-container {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;

    .user-menu-button {
        background-color: var(--bgColor);
        color: var(--fontColor);
        font-family: var(--font);
        font-size: 1.5rem;
        padding: 1rem;
        text-decoration: none;
        display: block;

        &:hover {
            text-decoration: underline;
        }
    }

    &.opened #user-menu {
        display: block;
    }
}
#user-menu {
    display: none;
    position: absolute;
    bottom: 3rem;
    width: 100%;
    background-color: var(--bgColor);
    padding: 1rem 0;

    a {
        color: var(--fontColor);
        font-family: var(--font);
        padding: 1rem;
        font-size: 1.5rem;
        text-decoration: none;
        display: block;

        &:hover {
            text-decoration: underline;
        }
    }
}

#login-form, .register-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem;

    label {
        font-size: 1rem;
        display: flex;
        justify-content: space-between;
        color: var(--fontColor);

        input {
            height: 1.25rem;
            width: 20ch;
        }
    }
}

@media (width > 1280px) {
    #nav-menu-toggle {
        visibility: hidden;
    }

    #nav-menu {
        display: block;
        left: 0;

        #nav-menu-close {
            display: none;
        }
    }
}