#options-menu {
    position: absolute;
    right: 0;
    background-color: var(--bgColor);
    border-radius: 20px 0 0 20px;
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.5);
    transform: translateX(100%);
    z-index: 1000;

    &.opened {
        transform: translateX(0%);
    }

    #options-tab {
        position: absolute;
        transform: rotate(90deg);
        left: 0rem;
        background-color: var(--bgColor);
        padding: 1rem;
        margin: 0;
        top: 2rem;
        transform-origin: top left;
        border-radius: 0 0 20px 20px;
        box-shadow: 4px 6px 4px 1px rgba(0,0,0,0.5);
        color: var(--fontColor);
        cursor: pointer;
    }
    fieldset {
        font-size: 2.5rem;
        border: none;
    }
    h4 {
        color: var(--fontColor);
        font-weight: 600;
        margin: 0;
    }
    label {
        padding-right: 1rem;
        font-size: 2rem;
        color: var(--fontColor);
    }
    .option-item {
        margin: 1rem 0;
    }
    .select-wrapper {
        position: relative;
        float: right;

        select {
            width: 4rem;
            height: 2.5rem;
            padding: 0 0 0 0.75rem;
            margin: 0;
            box-sizing: border-box;
            appearance: none;
            font-size: 2rem;
        }
    }
    .select-wrapper::after {
      content: "▼";
      font-size: 1.5rem;
      top: 14px;
      right: 5px;
      position: absolute;
      color: var(--bgColor);
      pointer-events: none;
    }
    #newEqButton {
        display: block;
        margin-top: 3rem;
        padding: 1rem;
        font-size: 1.5rem;
        border-radius: 2rem;
        background-color: #004781;
        color: white;
        border: none;
        cursor: pointer;
    }
}