#options-menu {
    position: absolute;
    right: 0;
    background-color: var(--bgColor);
    border-radius: 20px 0 0 20px;
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.5);
    transform: translateX(100%);
    z-index: 1000;

    @media (prefers-color-scheme: dark) {
        box-shadow: 5px 1px 5px 2px rgba(255,255,255,0.5);
    }

    @media (min-resolution: 150dpi) and (max-width: 450px) {
        right: auto;
        bottom: 0;
        transform: translateY(100%);
        border-radius: 20px 20px 0 0;
        width: 100%;
    }

    &.opened {
        transform: translateX(0%);
    }

    #options-tab {
        position: absolute;
        transform: rotate(90deg);
        left: 0rem;
        background-color: var(--bgColor);
        padding: 1rem;
        margin: 0;
        top: 2rem;
        transform-origin: top left;
        border-radius: 0 0 20px 20px;
        box-shadow: 4px 6px 4px 1px rgba(0,0,0,0.5);
        color: var(--fontColor);
        cursor: pointer;

        @media (prefers-color-scheme: dark) {
            box-shadow: 3px 4px 3px 1px rgba(255,255,255,0.5);
        }

        @media (min-resolution: 150dpi) and (max-width: 450px) {
            position: relative;
            left: 40%;
            top: -2rem;
            border-radius: 20px 20px 0 0;
            display: inline;

            @media (prefers-color-scheme: dark) {
                box-shadow: 2px -3px 3px 0px rgba(255,255,255,0.5);
            }
        }
    }
    fieldset {
        font-size: 2.5rem;
        border: none;

        @media (min-resolution: 150dpi) and (max-width: 450px) {
            font-size: 2rem;
        }
    }
    h4 {
        color: var(--fontColor);
        font-weight: 600;
        margin: 0;
    }
    label {
        padding-right: 1rem;
        font-size: 2rem;
        color: var(--fontColor);

        @media (min-resolution: 150dpi) and (max-width: 450px) {
            font-size: 1.5rem;
        }
    }
    .option-item {
        margin: 1rem 0;
    }
    .select-wrapper {
        position: relative;
        float: right;

        select {
            width: 4rem;
            height: 2.5rem;
            padding: 0 0 0 0.75rem;
            margin: 0;
            box-sizing: border-box;
            appearance: none;
            font-size: 2rem;
        }

        &::after {
            content: "▼";
            font-size: 1.5rem;
            top: 15%;
            right: 5px;
            position: absolute;
            color: var(--bgColor);
            pointer-events: none;
            line-height: 1;
        }
    }
    #newEqButton {
        display: block;
        margin-top: 3rem;
        padding: 1rem;
        font-size: 1.5rem;
        border-radius: 2rem;
        background-color: #004781;
        color: white;
        border: none;
        cursor: pointer;
    }
}