@import url("/static/css/normalize.css");
@import url("/static/css/_nav.css");
@import url("/static/css/_options.css");
@import url("/static/css/_flashcard.css");
@font-face {
    font-family: Catboo;
    src: url(../Catboo.ttf) format('truetype');
}
:root {
    --digitWidth: 6ch;
    --font: 'Noto Serif', serif;
}
@media (prefers-color-scheme: light) {
    :root {
        --bgColor: white;
        --fontColor:#222222;
        --bgOverlay: rgba(255,255,255,0.7);
        --smallFontColor: white;
        --mobileFontColor: white;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --bgColor: black;
        --fontColor: white;
        --bgOverlay: rgba(0,0,0,0.7);
        --smallFontColor: grey;
        --mobileFontColor: grey;
    }
}

html {
    font-size: 16px;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Serif', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
}

body::before {
    content: "";
    background: var(--bgOverlay);
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media (min-resolution: 150dpi) and (max-width: 450px) {
        height: 80vh;
    }
}