{{define "_button"}}
    <button type="submit" id="answer-button">Submit Answer</button>
{{end}}

{{define "try_again"}}
    <button type="submit" id="answer-button" hx-get="/try-again" hx-swap="outerHTML" hx-trigger="load delay:1s">Try again!</button>
{{end}}

{{define "good_job"}}
    <button type="submit" id="answer-button" hx-post="/new-equation" hx-target="#flash-card" hx-swap="outerHTML" hx-trigger="load delay:1s" hx-on:htmx:config-request="AddEquationParams(event)">Great job!</button>
{{end}}