{{define "_login"}}
<div id="login-container">
    {{if not .User.loggedIn}}
    <a href="" role="button">Login/Register</a>
    <form id="login-form" hx-post="/login" hx-target="#login-container" hx-swap="outerHTML">
        <label>
            User:
            <input name="username" type="text" />
        </label>
        <label>
            Password:
            <input name="password" type="password" />
        </label>
        <button type="submit">Login</button>
    </form>
    {{else}}
    <a href="">Hey, {{.User.name}}</a>
    {{end}}
</div>
{{end}}