{{define "_login"}}
<div id="login-container">
    {{template "login-button" .User}}
    <form id="login-form" hx-post="/login" hx-target="#login-container" hx-swap="outerHTML">
        <label>
            User:
            <input name="username" type="text" />
        </label>
        <label>
            Password:
            <input name="password" type="password" />
        </label>
        <button type="submit">Login</button>
    </form>
</div>
{{end}}

{{define "login-button"}}
    {{if .Logged}}
    <a href="" role="button">Hey, {{.Name}}</a>
    {{else}}
    <a href="" role="button">Login/Register</a>
    {{end}}
{{end}}